.lead {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 56px 100px 92px 100px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 88px 0;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 0 64px 0;
  }
}