.place__paragraph {
  font-size: 18px;
  line-height: 29px;
  margin: 0;
  padding-bottom: 25px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}